In [1]:
!pip install pymongo

Requirement already satisfied: pymongo in c:\users\manideep\anaconda3\lib\site-packages (4.3.3)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\users\manideep\anaconda3\lib\site-packages (from pymongo) (2.2.1)

In [2]:
import pymongo
from pymongo import MongoClient

In [3]:
client = MongoClient("mongodb://localhost:27017")

In [11]:
db1 = client["crud"]

In [12]:
Crud = new_db["Telephone_Directory"]

In [13]:
post = [{"Name" : "Srinidhi", "age": 22, "Gender" : "female", "PH.No":8096838341},
        {"Name" : "Manideep", "age": 24, "Gender" : "male", "PH.No": 8738493839},
        {"Name" : "Manjula", "age" : 43, "Gender" : "female", "PH.No": 4873972756}]

In [14]:
Crud.insert_many(post)

In [15]:
import pprint
for i in Crud.find():
    pprint.pprint(i)

{'Gender': 'female',
 'Name': 'Srinidhi',
 'PH.No': 8096838341,
 '_id': ObjectId('63a8fccb7a34e9425998d13a'),
 'age': 22}
{'Gender': 'male',
 'Name': 'Manideep',
 'PH.No': 8738493839,
 '_id': ObjectId('63a8fccb7a34e9425998d13b'),
 'age': 24}
{'Gender': 'female',
 'Name': 'Manjula',
 'PH.No': 4873972756,
 '_id': ObjectId('63a8fccb7a34e9425998d13c'),
 'age': 43}

In [22]:

myquery = { "Name": "Manjula" }
newvalues = { "$set": { "Name": "Kavitha" } }
Crud.update_one(myquery, newvalues)

In [18]:
for i in Crud.find():
    pprint.pprint(i)

{'Gender': 'female',
 'Name': 'Srinidhi',
 'PH.No': 8096838341,
 '_id': ObjectId('63a8fccb7a34e9425998d13a'),
 'age': 22}
{'Gender': 'male',
 'Name': 'Manideep',
 'PH.No': 8738493839,
 '_id': ObjectId('63a8fccb7a34e9425998d13b'),
 'age': 24}
{'Gender': 'female',
 'Name': 'Kavitha',
 'PH.No': 4873972756,
 '_id': ObjectId('63a8fccb7a34e9425998d13c'),
 'age': 43}

In [23]:
myquery = { "Name": {"$regex": "^S"} }

x = Crud.delete_many(myquery)

print(x.deleted_count, " documents deleted.")

1  documents deleted.

In [24]:
import pprint
for i in Crud.find():
    pprint.pprint(i)

{'Gender': 'male',
 'Name': 'Manideep',
 'PH.No': 8738493839,
 '_id': ObjectId('63a8fccb7a34e9425998d13b'),
 'age': 24}
{'Gender': 'female',
 'Name': 'Kavitha',
 'PH.No': 4873972756,
 '_id': ObjectId('63a8fccb7a34e9425998d13c'),
 'age': 43}